/* NavbarLogged.css */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-width: 300px;
    margin: 20px auto;
}

.custom-navbar {
    flex-grow: 1;
    border-radius: 30px;
    padding: 5px 20px;
}

.navbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.login-container2 {
    margin-left: 40px;
    margin-right: 0px;
}

.logout-link {
    color: red;
}