body {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  background-color: #F0E7DC;
  color: #552707cc;

  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #552707cc;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 1.2em 1.3em;
  font-size: 1em;
  font-weight: 500;
  color: #2c2b12;
  font-family: inherit;
  background-color: #cccc;
  cursor: pointer;
  transition: border-color 0.25s;
}

.content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin-top: 10px;
}
